/* pagina mural */
@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

                

* {
  margin: 0;
  padding: 0;
  overflow: visible;
  overflow: scroll;
}

body {
  margin: 0px;
  padding: 0px;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  background-image: url(../assets/imagens/medidas_campo_futebol_field-1024x683.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  position: relative;
  top: 0;
  left: 22.2%;
  background-color: #161618;
  height: 100vh;
  
}


canvas {
  width: 100% !important;
  height: 100% !important;
}


.janela {
  display: flex;
  /* width: 100vw; */
  margin-left: 10%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #BEA407;
  background-color: #000000;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  font-family: 'VALORANT', sans-serif;
  color: #BEA407;
  font-size: 330%;
  
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3rem;
}

.hello h3 span {
  font-weight: 800;
  
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #BEA407;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background: radial-gradient(113.55% 67.86% at 50.26% 50%, rgba(190, 122, 76, 0) 0%, rgba(190, 164, 7, 0.31) 100%);
  border: 3px solid #BEA407;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
#btn-logout h3 {
  margin: 0;
  padding: 0;
}

/* .btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color:#BEA407;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  align-items: center;
}
a{
  align-items: start; */
  .btn-logout {
    background: radial-gradient(113.55% 67.86% at 50.26% 50%, rgba(190, 122, 76, 0) 0%, rgba(190, 164, 7, 0.31) 100%);
    border: 1px solid #BEA407;
    border-radius: 5px;
    color: white;
    font-family: 'VALORANT', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2.5rem;
  }


/*-------------KPIS -------------------------*/

.div-dashboard {
  display: flex;
  flex-direction: column;
}

.div-kpis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-kpi {
  display: flex;
  flex-direction: column;
  color: white;
  width: 40%;
  background: radial-gradient(113.55% 67.86% at 50.26% 50%, rgba(190, 122, 76, 0) 0%, rgba(190, 164, 7, 0.31) 100%);
  border: 3px solid #BEA407;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%; 
  font-family: "Oswald", sans-serif;
}
