* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}


.curiosidades-cont {
    background-image: url(../assets/imagens/medidas_campo_futebol_field-1024x683.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 160px;
    overflow: hidden;
    text-align: center;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2{
    text-align: start;
    color: #BEA407;
}

p {
    font-size: 1.5rem;
    text-shadow: #000;
}
 
 .image-container {
    display: flex;
    justify-content: center;
    gap: 90px; 
}

.image-container a img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border: 2px solid #BEA407; 
    transition: transform 0.3s ease;
}

.image-container a img:hover {
    transform: scale(1.1); 
    border-color: #000; 
}
.textosCuriosidades{
    color: #fff; 
    text-shadow: 2px 2px 5px black;
    text-align: start;
    font-size: 135%;

}
.image-brasil img {
    width: 300px;
    height: 300px; 
    object-fit: cover; 
    border-radius: 0px;
    align-items: center;
    justify-content: center;
}

.image-brasil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.buttonvoltar{
    display: flex;
    font-family: 'VALORANT', sans-serif;
    align-items: end;
    justify-content: end;
    margin-left: 1300px;
}

.textoganhadores{
    color: #fff; 
    text-shadow: 2px 2px 5px black;
    text-align: start;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: 135%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #BEA407;
}
th, td {
    text-align: center;
    padding: 8px;
}
th {
    background-color: #000000;
}