@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

                
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#background{
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#background video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
   
}

#background::after{
    content: '';
    position: absolute;
    top:0 ;
    left: 0;
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  

}

.home-conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    padding: 200px;
    overflow: hidden;
   
}

h1 {
    font-size: 3rem;
    text-align: center;
}

b {
    font-size: 4.5rem;
    color: #BEA407; 
    font-family: 'VALORANT', sans-serif;
}

   
      
    .logo {
        align-items: center;
        width: 5%;
        height:auto;
        margin: 0;
        margin-left: 50px;
        padding: 10px;
        
    }
    
    h1{
        font-family: "Oswald", sans-serif;
        font-size: 4.5rem;
        text-align: center;
    }
    
    span{
        font-size: 23px;
        text-align: center;
        margin-left: 15px;
    }
    
    

    a{
        text-decoration: none;
        padding: 15px;
        align-items: center;
        color: white;
        transition: color 0.3s ease;
    }
    
    a:hover{
        color: rgb(190, 164, 7);
    }
    
    nav {
        display: flex;
        padding: 20px;
        gap: 40px;
        margin-right: 85px;
        align-items: center;
    }
    
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        
    }
    
    .cabecalho {
        font-family: 'VALORANT', sans-serif;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(0,0,0);
        position: fixed;
    top: 0;
    
    }
    
    footer {
        background-color: black;
        align-items: center;
        text-align: center;
        padding: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer span {
        color: #ffffff;
        font-family: 'VALORANT', sans-serif;

    }
    
    .buttonIndex{
        cursor: pointer;
        border-radius: 2px;
        font-size: 1.2rem !important;
        background: radial-gradient(113.55% 67.86% at 50.26% 50%, rgba(190, 122, 76, 0) 0%, rgba(190, 164, 7, 0.31) 100%);
        border: 1px solid #BEA407;
        width: 30%;
        height: 4rem;
        align-self: center;
        margin-top: 70px;
        font-size: smaller;
        font-weight: bold;
        transition: all 0.3s ease;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        text-decoration: none;
        line-height: 30px;
        
    }
    
    .buttonIndex:hover{
        background-color: #BEA407;
        color: #ffffff;
    } 
    .iconelogin{
        position: absolute;
        top: 42%;
        right: 5%;
    }